<section class="hero  " >
    <div class="head py-5">
    <h1 class="title has-text-centered is-size 1 has-text-white has-text-weight-bold"> MILK-DAIRY MANAGEMENT SYSTEM USING DATA ANALYTICS</h1>
    </div>
    <div class="subhead">
        <h4 class="title has-text-centered  has-text-white "> Milk-dairy Itagi, Dairy number:101</h4>
    </div>
    <nav class="navbar" role="navigation" aria-label="main navigation ">

        <div class="navbar-brand">
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-end ">
            <a class="navbar-item">
            <span><i class="fa fa-home"></i> Home</span>
            </a>
      
            <a href='/mgr-dataentry' class="navbar-item">
                <span><i class="fa fa-pencil"></i> Data-Entry</span>
            </a>
      
            <a href="/mgr-farmerlist" class="navbar-item">
            <span><i class="fa fa-user"></i> Farmers</span>
              </a>

              <a class="navbar-item">
                <span><i class="fa fa-file"></i> Price-List</span>
              </a>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                More
              </a>
      
              <div class="navbar-dropdown">
                <a class="navbar-item">
                    <span><i class="fa fa-cog"></i>   Settings</span>
                </a>
                <a class="navbar-item">
                    <span><i class="fa fa-info-circle"></i>  About</span>
                </a>
                <a class="navbar-item">
                    <span><i class="fa fa-phone"></i> Contact</span>
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                    <span><i class="fa fa-comments"></i> Feed Back</span>
                </a>
              </div>
             </div>
          </div>
      
          <div class="navbar mx-6 px-6">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary">
                  <strong>Logout  <i class="fa fa-sign-out"></i></strong>
                </a>
              </div>
            </div>
          </div>
        </div>
    </nav>




</section>
