
<div class="hero  is-fullheight has-background-dark has-text-centered">
  
    <div class="card1 ">
    <div class="card has-background-light">
        <br>
        <h1 class="title">LOGIN</h1>
        <br>
        EMAIL:
        <input type="email" name="email" >
        <br><br>
        TALUK NUMBER:
        <input type="number" name="tlkno" >
        <br><br>
        PASSWORD:
        <input type="password" name="password" >
        <br><br>
        <button class="button has-background-success" type="button" >Login</button>
        <br>
        New regisration? <a href="\tlk-register">Register</a>
        <br><br>
    </div>  
    </div>
    </div>