<div class="hero  is-fullheight has-background-dark has-text-centered">
  
    <div class="card1 ">
    <div class="card has-background-light">
        <br>
        <h1 class="title">REGISTER</h1>
        <br>
        EMAIL:
        <input type="email" name="email" >
        <br><br>
        PHONE NO:
        <input type="" name="phone" >
        <br><br>
        TALUK NUMBER:
        <input type="number" name="tlkno" >
        <br><br>
        PASSWORD:
        <input type="password" name="password" >
        <br><br>
        CONFIRM PASSWORD:
        <input type="password" name="con-password" >
        <br><br>
        <button class="button has-background-success" type="button">Register</button>
        <br>
        Already registered?<a href="\tlk-login">Login</a>
        <br><br>
    </div>  
    </div>
    </div>
